@model ThuMuaHangWeb.Models.MonAn

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MonAn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MonId" />
            <div class="form-group">
                <label asp-for="TenMon" class="control-label"></label>
                <input asp-for="TenMon" class="form-control" />
                <span asp-validation-for="TenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaMon" class="control-label"></label>
                <input asp-for="GiaMon" class="form-control" />
                <span asp-validation-for="GiaMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonVi" class="control-label"></label>
                <input asp-for="DonVi" class="form-control" />
                <span asp-validation-for="DonVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaMonKhuyenMai" class="control-label"></label>
                <input asp-for="GiaMonKhuyenMai" class="form-control" />
                <span asp-validation-for="GiaMonKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
