@model ThuMuaHangWeb.Models.Product

@{
    ViewData["Title"] = "Edit";
}


@inject SignInManager<ApplicationUser> SignInManager
@if(SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(User.FindFirstValue(ClaimTypes.Role)))
{

    <div class="banner">
        <div class="banner-text">
            <h1>Cập nhật hàng hóa</h1>
        </div>
    </div>
    <hr />

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MessageType"] fade show" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="row">
        <div class="col-12 col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />
                <div class="form-group row mb-3 mb-md-2">
                    <div class="col-12 col-md-2">Mã sản phẩm</div>
                    <div class="col-12 col-md-10">
                        <input asp-for="ProductCode" class="form-control" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 mb-md-2">
                    <div class="col-12 col-md-2">Tên sản phẩm</div>
                    <div class="col-12 col-md-10">
                        <input asp-for="DisplayName" class="form-control" />
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 mb-md-2">
                    <div class="col-12 col-md-2">Đơn vị tính</div>
                    <div class="col-12 col-md-10">
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 mb-md-2">
                    <div class="col-12 col-md-2">Thuế (%)</div>
                    <div class="col-12 col-md-10">
                        <input asp-for="Tax" class="form-control" />
                        <span asp-validation-for="Tax" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 mb-md-2">
                    <div class="col-12 col-md-2">Giá nhập gần nhất</div>
                    <div class="col-12 col-md-10">
                        <input asp-for="LowestEntryPrice" class="form-control" />
                        <span asp-validation-for="LowestEntryPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 mb-md-2">
                    <div class="col-12 col-md-2">Giá bán</div>
                    <div class="col-12 col-md-10">
                        <input asp-for="SalePrice" class="form-control" />
                        <span asp-validation-for="SalePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 mb-md-2">
                    <label asp-for="Status" class="col-12 col-md-2 control-label">Trạng Thái</label>
                    <div class="col-12 col-md-10">
                        <div class="col-6">@Html.RadioButtonFor(model => model.Status, "A") Đang kinh doanh </div>
                        <div class="col-6">@Html.RadioButtonFor(model => model.Status, "I") Ngừng kinh doanh </div>
                    </div>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="row ps-3">
                            <a asp-action="Index" class="col-6 btn btn-outline-secondary">Trở lại</a>
                            <div class="col-6 form-group">
                                <input type="submit" value="Lưu" class="btn btn-outline-primary w-100" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $(document).ready(function () {
                $('.alert').alert();
            });
        </script>
    }
}