@model ThuMuaHangWeb.Models.NhomMonAn

@{
    ViewData["Title"] = "Create";
}

<div class="banner">
    <div class="banner-text">
        <h1>Thêm nhóm món ăn</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row mb-3 mb-md-2">
                <div class="col-12 col-md-2">
                    <label asp-for="TenNhom" class="control-label"></label>
                </div>
                <div class="col-12 col-md-10">
                    <input asp-for="TenNhom" class="form-control" />
                    <span asp-validation-for="TenNhom" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3 mb-md-2">
                <div class="col-12 col-md-2">
                    <label asp-for="Order" class="control-label"></label>
                </div>
                <div class="col-12 col-md-10">
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3 mb-md-2">
                <label asp-for="Active" class="col-12 col-md-2 control-label"></label>
                <div class="col-12 col-md-10">
                  @*  <div class="col-6"><input type="radio" id="Active" asp-for="Active" value="True" checked /> <label for="Active">Đang bán</label> </div>
                    <div class="col-6"><input type="radio" id="Active" asp-for="Active" value="False" /> <label for="Active">Ngưng bán</label> </div>*@
                    <div class="col-6">@Html.RadioButtonFor(model => model.Active, "True") Đang bán </div>
                    <div class="col-6">@Html.RadioButtonFor(model => model.Active, "False") Ngưng bán </div>
                </div>
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="row ps-3">
                        <a asp-action="Index" class="col-6 btn btn-outline-secondary">Trở lại</a>
                        <div class="col-6 form-group">
                            <input type="submit" value="Tạo" class="btn btn-outline-primary w-100" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
