html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner {
    height: $banner-height;
    /*background-color: lightgray;*/
    display: flex;
    align-items: center;
    justify-content: center;   
}

.banner-text {
    /*color: white;*/
    text-align: center;
}

.container-xxl {
    max-width: 1850px !important;
}

.container-body {
    min-height: 825px;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #dee2e6 !important;
    background-image: unset !important;
    padding-right: inherit !important;
}

.was-validated .form-select:valid {
    border-color: #dee2e6 !important;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e) !important;
}

.w-quantity {
    width: 100px;
}

.w-110px {
    width: 110px;
}

.w-200px {
    width: 200px;
}

.w-150px{
    width: 150px;
}

.header-midle-width {
    max-width: 400px;
    min-width: 200px;
}

th > p {
    margin:0px !important;
}
th {
    vertical-align: middle !important;
}
table > thead > tr > th {
    /*background-color: #366092 !important;*/
    background-color: #26a69a !important;
    color: white;
    border-bottom-width: 1px;
}

table > tbody > tr:nth-child(odd) > td {
    /*background-color: #B8CCE4 !important;*/
    background-color: #ffffff;
    border-bottom-width: 1px;
}

table > tbody > tr:nth-child(even) > td {
    /*background-color: #DCE6F1 !important;*/
    background-color: #ddf2f0;
    border-bottom-width: 1px;
}

.table-order {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

.table-responsive-container {
    overflow: auto;
    max-height: 700px;
}

.table-froozen-header {
    overflow: auto;
}


/* Đặt chiều rộng cho các cột trong header */
.table-froozen-header > thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.text-vertical-center {
    align-items: center;
    display: flex;
}

.z-index-frozen-header {
    z-index: 100 !important;
}

@media only screen and (max-width: 767px) {
    .narbar-dropdown-menu {
        border: 0 !important;
        background-color: transparent !important;
        padding-left: 10px !important;
    }

    .width-131px {
        text-align: unset !important;
    }

    .table-responsive-container {
        overflow: auto;
        max-height: 750px;
    }

}

.register {
    padding-bottom: 1em;
}

.navbar {
    background-color: #50c785 !important
}

.width-131px {
    width: 132px;
    text-align: center;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1100 !important;
}

.font-small {
    font-size: small;
    font-weight: lighter;
}

.background-danger > td {
    background-color: #ffacbb !important;
}

.block-ui {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    background-color: hsla(0,0%,50%,.2);
    transition-property: background-color;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 99999 !important;
}

.header-product-code {
    min-width: 170px
}

.header-product-name {
    min-width: 300px
}

.header-product-unit {
    min-width: 80px
}

.header-quantity {
    min-width: 100px
}

.header-price {
    min-width: 125px
}

.header-note {
    min-width: 150px
}

.header-action {
    min-width: 50px
}

.header-amount {
    min-width: 140px
}

.sticky-first-column {
    position: sticky !important;
    left: -12px;
}

.sticky-second-column {
    position: sticky !important;
    left: 68px;
}

.sticky-third-column {
    position: sticky !important;
    left: 238px;
}

.width-label{
    min-width: 80px;
}

.favorite-dishes {
    font-family: "Arial", sans-serif;
    color: #38624c;
    background-color: #f3f3eb;
    /* padding: 20px;
    background-color: #f3f3eb;*/
}

    .favorite-dishes h1 {
        font-size: 5vw;
        text-align: center;
        width: 100%;
        /*text-transform: uppercase;
/*margin-bottom: 20px;
color: #4c6c52;*/
       
        color: #356E3A; /* Màu xanh đậm (tông chữ chính) */
        font-weight: bold; /* Chữ in đậm */
        text-shadow: 1px 1px 0px #F4D26E; /* Tạo hiệu ứng bóng chữ vàng nhạt */
        padding: 10px 20px; /* Khoảng cách padding xung quanh chữ */
        display: inline-block; /* Để căn giữa chính xác và tạo khối xung quanh */
    }





.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 1px dashed #cfcfcf;
    padding-bottom: 5px;
}

.menu .dish-name {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}

.menu .dish-note {
    font-size: 18px;
    color: #b22222;
    font-weight:normal;
    text-align: left;
}

.menu .dish-price {
    text-align: right;
    color: #2d4739;
    /*font-weight: bold;*/
}

    .menu .dish-price .dish-price-detail {
        font-size: 30px;
        font-weight: bolder;
    }



.edit-icon {
    position: absolute;
    top: 10px; /* Dịch lên trên container */
    right: 20px; /* Dịch sang phải container */
    width: 30px;
    height: 30px;
    background-color: #356E3A; /* Màu nền cho icon */
    color: white; /* Màu biểu tượng */
    border-radius: 50%; /* Hình tròn */
    display: flex;
    justify-content: center; /* Căn giữa nội dung trong icon */
    align-items: center; /* Căn giữa nội dung trong icon */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    cursor: pointer; /* Hiệu ứng con trỏ */
}

    /* Hiệu ứng hover cho icon */
    .edit-icon:hover {
        background-color: #F4D26E; /* Đổi màu khi hover */
        color: #356E3A; /* Đổi màu icon khi hover */
    }


.button {
    display: inline-flex;
    align-items: center;
    background-color: #346b3c; /* Màu xanh của nút */
    color: #fff; /* Màu chữ */
    font-size: 16px; /* Kích thước chữ */
    font-weight: bold;
    padding: 10px 20px; /* Khoảng cách bên trong nút */
    border: none;
    border-radius: 20px; /* Góc bo tròn */
    cursor: pointer;
    text-transform: uppercase; /* Chữ in hoa */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .button:hover {
        background-color: #295e33; /* Hiệu ứng hover */
    }

.title-container {
    /*background-color: #f5e9c3;*/ /* Màu nền vàng nhạt */
    /*padding: 20px;*/ /* Khoảng cách xung quanh */
    border-radius: 5px; /* Bo góc */
    display: inline-block;
    position: relative;
}

.group {
    padding: 20px;
    padding-top: 50px;
}

    .group:nth-child(even) {
        background-color: #f3f3eb;
    }

    .group:nth-child(odd) {
        background-color: #2b5429;
    }

.vertical-line {
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 5px;
    background-color: #2f4f2f; /* Màu xanh lá đậm */
    border-radius: 2px;
}



.title {
    font-family: 'Arial', sans-serif; /* Font không chân cho chữ in hoa */
    font-size: 5vw; /* Kích thước lớn cho tiêu đề */
    font-weight: bold; /* Chữ đậm */
    color: #b22222; /* Màu đỏ đậm */
    margin: 0 0 0px 20px; /* Khoảng cách với cạnh và chữ xanh */
}
.subtitle {
    font-family: 'Dancing Script', cursive; /* Font viết tay */
    font-size: 6vw; /* Kích thước nhỏ hơn */
    font-weight: 600; /* Độ dày vừa */
    color: #2f4f2f; /* Màu xanh lá */
    margin-left: 20px; /* Khoảng cách với vạch dọc */
}


.group:nth-child(odd) .title {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.group:nth-child(odd) .vertical-line {
    background-color: #e5db9a;
}

.group:nth-child(odd) .subtitle {
    color: #e5db9a; /* Màu xanh lá */
}

.group:nth-child(odd) .menu .dish-name {
    color: #f8fcfe;
}

.group:nth-child(odd) .menu .dish-note {
    color: #e5db9a;
}

.group:nth-child(odd) .menu .dish-price {
    color: #f8fcfe;
}

.btn-matma {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 10;
}


@media (orientation: portrait) {
    .image-item {
        width: 95vw;
        height: auto;
    }
}

/* Nếu chiều rộng lớn hơn chiều cao */
@media (orientation: landscape) {
    .image-item {
        height: 100vh;
        max-width: 48vw; /* Để chiều rộng tự động điều chỉnh theo nội dung */
    }
}